.main {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content {
    padding: 30px;
    width: 80vw;
    max-width: 1244px;
    border: 1px solid #3f3f46;
    min-width: 300px;
    border-radius: 10px;
}

.main .content .container {
    margin: 30px 0;
}

.main .content .err {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
}