.box {
    padding: 10px;
    border: 1px solid #1E5128;
    border-radius: 10px;
    text-align: center;
    margin: 5px 0;
}

.box a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.box span {
    font-size: 13px;
    color: #fff;
}